/* Global */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

/* Images */
.logo
{
    height: 48px;
    width: 48px;
}

/* Text */
.hero-main
{
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary
{
    font-size: 18px;
    font-weight: 900;
    color: #E5E7EB;
}

.info-head
{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote
{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

/* Note: header logo text replaced with an image */

/* Divisions */
nav
{
    display: flex;
    background-color: #1F2937;
}

nav ul
{
    display: flex;
    gap: 10px;
    list-style: none;
}

.hero
{
    height: 2rem;
    background-color: #1F2937;
}

.info
{
    height: 2rem;
    background-color: white;
}

.quote
{
    height: 2rem;
    background-color: #E5E7EB;
}

.call
{
    height: 2rem;
    background-color: white;
}

footer
{
    padding: 1rem 0px;
    text-align: center;
    color: white;
    background-color: #1F2937;
}