@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* Images */
.logo
{
    height: 48px;
    width: 48px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

/* Text */
.hero-main
{
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary
{
    font-size: 18px;
    font-weight: 900;
    color: #E5E7EB;
}

.info-head
{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-text
{
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    color: #1F2937;
}

.quote-ref
{
    font-size: 14px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    line-height: 1;
}

/* Note: header logo text replaced with an image */

/* Divisions */
.nav-list
{
    display: flex;
    background-color: #1F2937;
    margin: 0;
    padding: 1rem 0rem;
    justify-content: flex-end;
    align-items: center;
}

.nav-item
{
    list-style: none;
    margin-right: 2rem;
}

.nav-item a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #E5E7EB;
}

.nav-item:first-child
{
    margin-right: auto;
    margin-left: 2rem;
}

.hero
{
    height: 2rem;
    background-color: #1F2937;
}

.info
{
    height: 2rem;
    background-color: white;
}

.quote
{
    padding: 4rem calc(40%/2);
    height: auto;
    background-color: #E5E7EB;
}

.call
{
    height: 2rem;
    background-color: white;
}

footer
{
    padding: 1rem 0px;
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
}