/* Uses joshwcomeau CSS Reset */
/* Global */
:root
{
  --primary-text: #F9FAF8;
  --primary-bg: #3882F6;
  --light-gray: #E5E7EB;
  --secondary-bg: #1F2937;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}







/* BUTTONS */
button {
  height: auto;
  width: 128px;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.filled {
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

button.outlined {
  color: var(--primary-text);
  background-color: var(--primary-bg);
  border: 2px var(--primary-text) solid;
}

button.filled:hover, button.outlined:hover {
  color: var(--primary-text);
  background-color: #2b66c5;
}

/* TEXT */


.info-head
{
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: var(--secondary-bg);
}

.quote-text
{
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
  color: var(--secondary-bg);
}

.quote-ref
{
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: var(--secondary-bg);
  line-height: 1;
}

.call-head
{
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-text);
  line-height: 1;
}

p
{
  font-size: 14px;
  font-weight: 400;
}


/* Header */
header{
  width: 100%;
  height: auto;
  padding: 1rem 15%;
  background-color: var(--secondary-bg);
}

nav{
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  height: auto;
  list-style: none;
  
}

nav ul li {
  font-size: 1rem;
  font-weight: 700;
}

nav ul li a{
  color: var(--light-gray);
}

nav ul li a:hover {
  color: var(--primary-bg);
}

#logo{
  flex-shrink: 0;
}

#logo a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
}

#logo img {
  height: 3rem;
  width: 3rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

/* Main */
/* Hero */
.hero-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  gap: 2rem;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.half-box {
  flex: 1 1 45%;
  height: auto;
  width: 45%;
  min-width: 450px; /* Splits half box to seperate line */
}

.half-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.half-box .title
{
  font-size: 3rem;
  color: var(--primary-text);
}

.half-box .descritpion
{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--light-gray);
}

/* Info */
.info {
  height: auto;
  padding: 4rem calc(40%/2);
  background-color: var(--primary-text)
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--secondary-bg);
}

.card {
    flex: 1 0;
    overflow: hidden;
    margin: 0rem 1.5rem;
}

.card img {
    width: 100%;
    height: 192px;
    object-fit: cover;
    border-radius: 5px;
    border: var(--primary-bg) 4px solid;
}

.card-info {
    padding: 0px;
    text-align: center;
}

/* Quote */
.quote {
    height: auto;
    padding: 4rem calc(40%/2);
    background-color: var(--light-gray);
}

/* Call */
.call {
    height: auto;
    padding: 4rem calc(40%/2);
    background-color: var(--primary-text)
}

.call-container {
    height: auto;
    display: flex;
    padding: 2rem 5rem;
    color: var(--primary-text);
    border-radius: 5px;
    background-color: var(--primary-bg);
}

.call-container-item {
    align-items: center;
}

.call-container-item:nth-of-type(1) {
    flex: 3;
}

.call-container-item:nth-of-type(2) {
    flex: 1;
    text-align: right;
}

/* Footer */
footer {
    padding: 1.5rem 0px;
    text-align: center;
    color: var(--primary-text);
    background-color: var(--secondary-bg);
}